#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background: linear-gradient(to bottom, #bbb2b2, #a29696);
}
td {
  background: linear-gradient(to bottom, #ffffff, #f4f4f4);
}

button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #8c00ff;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #d673e8;
  color: black;
}
